Cordova Tracking Transparency.xcworkspace/xcuserdata
native_projects/Cordova Tracking Transparency.xcworkspace/xcuserdata
native_projects/Cordova Tracking Transparency.xcodeproj/xcuserdata
native_projects/Cordova Tracking Transparency.xcodeproj/project.xcworkspace/xcuserdata
native_projects/Pods/Pods.xcodeproj/project.xcworkspace/xcuserdata
native_projects/Pods/Pods.xcodeproj/xcuserdata
native_projects/build/
package-lock.json